<h1>Look at your score</h1>
<h2>Your word:</h2>
<p><%= @answer %></p>
<p>Time taken to answer:</p>


<p><%= time = Time.now - Time.parse(cookies[:time_start]) %></p>
<p>Your score:</p>
<p><%= time > 30 ? 0 : (@score * time ** -2) * 1000 %></p>


<a href="/new">Play again</a>

